beautifulsoup4==4.9.1
colorama==0.4.1
cryptography==3.3.1
ipython==7.18.1
PyQt5==5.15.9
PyQt5-Qt5==5.15.2
PyQt5-sip==12.12.1
PyQtWebEngine==5.15.6
PyQtWebEngine-Qt5==5.15.2
virtualenv==20.0.31
widgetsnbextension==3.5.1
google-api-core==1.23.0
google-api-python-client==1.12.8
google-auth==1.23.0
google-auth-httplib2==0.0.4
google-auth-oauthlib==0.4.2
googleapis-common-protos==1.52.0
gspread==3.6.0
certifi==2020.12.5
chardet==3.0.4
idna==2.10
requests==2.25.0
urllib3==1.26.2
wget==3.2